@font-face {
	font-family: 'MaisonNeue-Mono';
	src: url('fonts/MaisonNeue-Mono/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),  
		url('fonts/MaisonNeue-Mono/MaisonNeue-Mono.woff') format('woff'), 
		url('fonts/MaisonNeue-Mono/MaisonNeue-Mono.ttf')  format('truetype'), 
		url('fonts/MaisonNeue-Mono/MaisonNeue-Mono.svg#MaisonNeue-Mono') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  