
@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url('MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),  url('MaisonNeue-Mono.woff') format('woff'), url('MaisonNeue-Mono.ttf')  format('truetype'), url('MaisonNeue-Mono.svg#MaisonNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}
